/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Paytone+One&display=swap');

/* Asterisk wildcard selector to override default styles added by the browser */
* {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
}

/* General styles */
body {
  display: flex;
  flex-direction: column;
  font-family: "Big Shoulders Display", sans-serif;
  font-weight: 400;
  font-style: normal;
  background-color: #1a5508;
  overflow-x: hidden;
  line-height: inherit;
  box-sizing: border-box;
}

.content-wrapper {
  max-width: 100%;
  min-height: calc(100vh - 70px);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Paytone One", sans-serif;
  text-transform: uppercase;
  letter-spacing: 2px;
  color: #fafafa
}

h1,
h4,
p {
  margin: 0;
}

#website-center {
  display: flex;
  align-items: center;
  text-align: center;
  margin-top: 20vh;
  margin-bottom: auto;
}

.box {
  text-align: start;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 25px;
  margin-top: 5vh;
  height: auto;
  width: auto;
  background-color: hwb(0 7% 11% / 0.537);
  overflow-wrap: break-word;
  box-shadow: 0 2px 2px hwb(0 7% 93%);
  align-items: start;
}

p {
  font-family: "BC one", sans-serif;
  letter-spacing: 1px;
  font-weight: 100;
  color: #fafafa;
  margin: 5px;
  padding: 10px;
}

.logo-tnl {
  display: flex;
  left: 0px;
  z-index: 100;
  transition: all 250ms linear;
}

.active {
  border-bottom: 1px solid #3a3a3a;
}

/* Navigation */

#menu {
  flex-direction: row;
  font-size: 110%;
  letter-spacing: 2px;
  color: #fafafa;
  list-style-type: none;
  margin-left: 1rem;
  padding-block-end: 25px;
  line-height: 5px;
}

#menu>li {
  margin-bottom: .5rem;
}

/* Navbar styles with dropdown bar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #1a5508;
  color: #fafafa;
  list-style-type: none;
}

.brand {
  font-size: 4rem;
  margin: 5rem;
  font-family: "Big Shoulders Display", sans-serif;
}

.navbar-links ul {
  margin: 0;
  padding: 0;
  display: flex;
}

.navbar-links li {
  list-style-type: none;
  font-size: 2rem;
}

.navbar-links li a {
  text-decoration: none;
  color: #fafafa;
  padding: 1rem;
  display: block;
}

.navbar-links li:hover {
  background-color: #3a3a3a;
}

.toggle-button {
  position: absolute;
  top: 2.5rem;
  right: 1.5rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 40px;
  height: 28px;
}

.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: #fafafa;
  border-radius: 10px;
}

/* hero image with responsive sizing of image on different screen sizes to keep aspect ratio */
.hero {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.3)), url("../images/hero_tnl_1.webp");
  height: 50vh;
  align-self: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: center;
  align-items: center;
  justify-content: center;
  margin-bottom: 1vh;
}

/* responsive sizing of image on different screen sizes to keep aspect ratio */
#website-center {
  display: flex;
  align-items: center;
  text-align: center;
  padding: 35px;
  margin-top: 0;
  margin-bottom: auto;
}

#website-intro {
  height: 500px;
  margin-top: 50px;
}

#website-intro>h2,
h6 {
  text-align: center;
}

#website-intro>p {
  text-align: center;
}

.bkg-section-images {
  width: 100%;
  height: 100%;
  background-image: url("../images/straight-flush.webp");
  min-height: 90vh;
  background-size: cover;
  overflow-x: hidden;
}

.signup-bkg-section-images {
  width: 100%;
  height: 100%;
  background-image: url("../images/ace-close-up\ .webp");
  min-height: 90vh;
  background-size: cover;
  overflow-x: hidden;
}

.form-bkg-section-images {
  width: 100%;
  height: 100%;
  background-image: url("../images/cards-in-hand-small-bw.webp");
  min-height: 90vh;
  background-size: cover;
  overflow-x: hidden;
}

/* Meetup Times */
#meetup-times {
  background: url('../images/markers-on-table-small.webp') no-repeat center/cover;
  display: flex;
  flex-wrap: wrap;
}

#meetup-times div {
  background-color: rgba(0, 0, 0, .5);
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  text-align: center;
  /* This will not wrap on screens of less than 400px wide.
    Each div will expand to fill the available space on its row. */
  flex-basis: 200px;
  flex-grow: 3;
  /* Creates a grid of meetup time dives over the background image. */
  border: 3px solid #1a5508;
}

/* Form Section */
[type="checkbox"]:checked,
[type="checkbox"]:not(:checked) {
  position: absolute;
  left: -9999px;
}

.checkbox:checked+label,
.checkbox:not(:checked)+label {
  position: relative;
  display: block;
  text-align: center;
  width: 60px;
  height: 16px;
  border-radius: 8px;
  padding: 0;
  margin: 10px auto;
  cursor: pointer;
  background-color: #1a5508;
}

.checkbox:checked+label:before,
.checkbox:not(:checked)+label:before {
  position: absolute;
  display: block;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  color: #1a5508;
  background-color: #e21111;
  font-family: 'unicons';
  content: '\eb4f';
  z-index: 20;
  top: -10px;
  left: -10px;
  line-height: 36px;
  text-align: center;
  font-size: 24px;
  transition: all 0.5s ease;
}

.checkbox:checked+label:before {
  transform: translateX(44px) rotate(-270deg);
}

.card-3d-wrap {
  position: relative;
  width: 440px;
  max-width: 100%;
  height: 400px;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  perspective: 800px;
  margin-top: 60px;
}

.card-3d-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  transition: all 600ms ease-out;
}

.card-front,
.card-back {
  width: 100%;
  height: 100%;
  background-color: #1a5508;
  background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: 300%;
  position: absolute;
  border-radius: 6px;
  left: 0;
  top: 0;
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -o-backface-visibility: hidden;
  backface-visibility: hidden;
}

.card-back {
  transform: rotateY(180deg);
}

.checkbox:checked~.card-3d-wrap .card-3d-wrapper {
  transform: rotateY(180deg);
}

.center-wrap {
  position: absolute;
  width: 100%;
  padding: 0 35px;
  top: 50%;
  left: 0;
  transform: translate3d(0, -50%, 35px) perspective(100px);
  z-index: 20;
  display: block;
}

.form-group {
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.form-style {
  padding: 13px 20px;
  padding-left: 55px;
  margin-top: 2px;
  height: 40px;
  width: 100%;
  font-weight: 500;
  border-radius: 4px;
  font-size: 14px;
  line-height: 22px;
  letter-spacing: 0.5px;
  outline: none;
  color: #ffffff;
  background-color: #e21111;
  border: none;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.form-style:focus,
.form-style:active {
  border: none;
  outline: none;
  box-shadow: 0 4px 8px 0 rgba(21, 21, 21, .2);
}

.input-icon {
  position: absolute;
  top: 0;
  left: 18px;
  height: 48px;
  font-size: 24px;
  line-height: 48px;
  text-align: left;
  color: #1a5508;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-ms-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-moz-placeholder {
  color: #fafafa;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:-moz-placeholder {
  color: #fafafa;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input::-webkit-input-placeholder {
  color: #fafafa;
  opacity: 0.7;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-ms-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus:-moz-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.form-group input:focus::-webkit-input-placeholder {
  opacity: 0;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
}

.btn {
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition: all 200ms linear;
  transition: all 200ms linear;
  padding: 0 30px;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: #fafafa;
  color: black;
  box-shadow: 0 8px 24px 0 rgba(255, 235, 167, .2);
  margin-top: 15px;
}

.btn:active,
.btn:focus {
  background-color: #fafafa;
  color: black;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

.btn:hover {
  background-color: black;
  color: #fafafa;
  box-shadow: 0 8px 24px 0 rgba(16, 39, 112, .2);
}

p {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.7;
}

#signupform>h4 {
  font-weight: 600;
}

#signupform>h6 span {
  padding: 0 20px;
  text-transform: uppercase;
  font-weight: 700;
}

#signupform>.form-section {
  position: relative;
  width: 100%;
  display: block;
  margin-left: 3%;
}

/* footer */
footer {
  height: 50px;
  width: 100%;
  background-color: #e21111;
}

#social-networks {
  display: flex;
  flex-direction: row;
  font-size: 200%;
  justify-content: space-around;
  color: #fafafa;
  list-style-type: none;
  margin-top: 3px;
  padding-top: 5px;
}

/** Gallery section **/

#bilder {
  display: flex;
  align-items: center;
  justify-items: center;
  margin-top: 125px;
  margin-bottom: 40px;
}

.gallery-container {
  display: flex;
  max-width: 3000px;
  flex-wrap: wrap;
}

.container img {
  width: 100%;
  align-items: center;
  padding: 3px 3px 3px 3px;
}

.signup-bkg-section-images {
  background-image: url("../images/ace-close-up.webp");
}

/* Media query - tablets and larger devices (max 600px) */
@media (max-width:600px) {
  .toggle-button {
    display: flex;
  }

  .navbar-links {
    display: none;
    width: 100%;
  }

  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-links ul {
    width: 100%;
    flex-direction: column;
  }

  .navbar-links li {
    text-align: center;
  }

  .navbar-links li a {
    padding: .5rem 2rem;
  }

  .navbar-links li:hover {
    background-color: #e21111;
  }

  .navbar-links.active {
    display: flex;
  }
}

/* Media query - tablets and larger devices (600px and up) */
@media only screen and (min-width: 600px) {

  .navbar-links ul {
    margin: 50px;
    padding: 50px;
    display: flex;
  }

  .navbar-links li {
    list-style-type: none;
  }

  .navbar-links li a {
    text-decoration: none;
    color: #fafafa;
    padding: 1rem;
    display: block;
  }

  .navbar-links li:hover {
    background-color: #e21111;
  }

  .container img {
    width: 50%;
    align-items: center;
  }

  #bilder {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;

    width: 100%;
  }
}

/* Media query - tablets and larger devices (768px and up) */
@media screen and (min-width: 768px) {

  #menu li {
    flex-direction: row;
    font-size: 110%;
    letter-spacing: 2px;
    color: #fafafa;
    list-style-type: none;
    margin-left: 1rem;
    padding-block-end: 10px;
    line-height: 5px;
    display: flex;
  }

  .box {
    text-align: start;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 25px;
    margin-left: 25px;
    margin-top: 5vh;
    height: auto;
    width: auto;
    max-width: 45%;
    background-color: hwb(0 7% 11% / 0.537);
    overflow-wrap: break-word;
    box-shadow: 0 2px 2px hwb(0 7% 93%);
  }
}

/* Media query - tablets and larger devices (900px and up) */
@media only screen and (min-width: 900px) {
  .container img {
    width: 25%;
    height: 25%;
  }
}

/* Media query - tablets and larger devices (min-height 1300px and up) */
@media only screen and (min-height: 1300px) {
  .content {
    min-height: calc(100vh - 70px);
  }

  .footer {
    flex-shrink: 0;
  }

  .container img {
    width: 25%;
    height: 25%;
  }
}