/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Paytone+One&display=swap')

/* Asterisk wildcard selector to override default styles added by the browser */
* {
    margin: 0;
    padding: 0;
    border: none;
    }

/* General styles */
body {
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: hsla(0, 20%, 97%, 0.925);
}

h1,
h2,
h3 {
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
    font-weight: 300;
    color: #e21111;
}

#logo {
    float: left;
    font-size: 200%;
}

#menu {
    font-size: 110%;
    letter-spacing: 2px;
    color: hsla(0, 20%, 97%, 0.925);
}

#menu, #logo {
    line-height: 50px;
}

#menu li { 
    float: right;
    list-style-type: none;
    margin-right: 50px;
}
#menu a {
    text-decoration: none ;
    color: inherit;
}

#menu a:hover {
    border-bottom: 1px solid #3a3a3a;
}

.active {
    border-bottom:  1px solid #3a3a3a;
}

/* hero-image */

#hero-image {
    height: 600px;
    width: 100%;
    background: url('../images/hero-image.webp') no-repeat center center;
}