/* Google fonts import */
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100..900&family=Paytone+One&display=swap');

/* General styles */
body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
    padding: 0;
    background-color: #000000;
    overflow-x: hidden;
    line-height: inherit;
    box-sizing: border-box;
}

.content {
    min-height: calc(100vh - 70px);
}

/* header */
header {
    background-color: #1a5508;
    padding: 0 1 rem;
    position: fixed;
    z-index: 99;
    width: 100%;
    box-shadow: 0 2px 2px hwb(0 7% 93%);
    display: flex;
    justify-content: space-between;
    align-items: baseline;
}

header a {
    text-decoration: none;
    color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Paytone One", sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #e21111;
}

#website-center {
    top-margin: 10px;
    text-align: center;
}

.box {
    display: flexbox;
    margin: 30px;
    height: auto;
    width: 600px;
    background-color: #1a5508;
    overflow-wrap: break-word;
}

p {
    font-family: "BC one", sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    color: #fafafa;
    margin: 5px;
    padding: 10px;
}

.logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
}

.logo img {
    height: 180px;
    width: auto;
    display: block;
}

/* Navigation */

#menu {
    flex-direction: column;
    font-size: 110%;
    letter-spacing: 2px;
    color: #fafafa;
    list-style-type: none;
    margin-left: 1rem;
    padding-block-end: 10px;
    line-height: 50px;
}

#menu>li {
    margin-bottom: 1rem;
}

#menu a {
    text-decoration: none;
    color: inherit;
}

#menu a:hover {
    border-bottom: 2px #fafafa;
}

.active {
    border-bottom: 1px solid #3a3a3a;
}

/* Navbar styles with dropdown bar */
nav {
    position: absolute;
    background-color: #1a5508;
    width: 100%;
    box-shadow: 0 2px 0px hwb(0 7% 93%);
    padding: 0 1 rem;
    display: none;
    top: 100%;
}

/* Nav toggle */
#toggle:checked~nav {
    display: block;
}

#toggle {
    display: block;
}

.nav-toggle-label {
    font-size: 4rem;
}

input[type=checkbox].hidden {
    opacity: 0;
}

.fa-solid fa-bars {
    position: absolute;
    margin-right: 10px;
}

/* main section */
main {
    /* Make main. element push footer down */
    flex: 1 0 auto;
    background-color: black;
    margin-top: 47px;
}

/* hero image */

/* responsive sizing of image on different screen sizes to keep aspect ratio */
#hero-image img {
    height: auto;
    width: 100%;
}

#website-center {
    display: flex;
    align-items: center;
    margin-top: 25px;
    margin: bottom 75px;
}

#website-intro>h1,
h6 {
    text-align: center;
}

.bkg-section-images {
    height: 1em;
    width: auto;
}

/* footer */
footer {
    height: 50px;
    width: 100%;
    background-color: #e21111;
}

#social-networks {
    display: flex;
    flex-direction: row;
    font-size: 200%;
    justify-content: space-around;
    color: #fafafa;
    list-style-type: none;
    margin-top: 5px;
}

/** Gallery section **/

#bilder {
    display: flex;
    align-items: center;
    justify-items: center;
    margin-top: 125px;
    margin-bottom: 40px;
    background-color: #000000
}

.gallery-container {
    display: flex;
    max-width: 6000x;
    flex-wrap: wrap;
}

.container img {
    width: 100%;
    padding: 3px 3px 3px 3px;
}

/* Media query - tablets and larger devices (600px and up) */
@media only screen and (min-width: 600px) {
    .container img {
        width: 50%;
    }

    #bilder {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

/* Media query - tablets and larger devices (768px and up) */
@media screen and (min-width: 768px) {

    /* Header */
    header {
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    nav {
        display: block;
        position: relative;
        box-shadow: none;
        width: fit-content;
        padding-right: 2rem;
        justify-content: space-between;
    }

    #menu {
        display: flex;
        flex-direction: row;
    }
}

#menu>li {
    padding-left: 1rem;
}

.nav-toggle-label {
    display: none;
}

.bkg-section-images {
    width: 100%;
    height: auto;
}

.box {
    align-items: center;
}

/* Media query - tablets and larger devices (900px and up) */
@media only screen and (min-width: 900px) {
    .container img {
        width: 25%;
        height: 25%;
    }
}

/* Media query - tablets and larger devices (min-height 1300px and up) */
@media only screen and (min-height: 1300px) {
    .content {
        min-height: calc(100vh - 70px);
    }

    .footer {
        flex-shrink: 0;
    }

    .container img {
        width: 25%;
        height: 25%;
    }
}